div.f {
    height: 100px;
    width: 670px;
    background-color: #f2f2f2;
}
div.d {
    height: 160px;
    width: 670px;
    background-color: #f2f2f2;
}
div.z {
    height: 280px;
    width: 670px;
    background-color: #f2f2f2;
}
div.s {
    height: 140px;
    width: 670px;
    background-color: #f2f2f2;
}
h4 {
    height: 0px;
    font-family: Helvetica, Arial, sans-serif;

}
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}
p.footer {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}
p.version {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9px;
    font-style:italic;
    text-align:right;
}
